{% block style%}
@import url("header.30e62e606211.css");
@import url("todo-main-part.711f1ea49dc4.css");
@import url("todo-input.d3423218255b.css");
@import url("todo-list.8eaa87d35d90.css");
@import url("footer.07020bdf4515.css");

.todos{
    background: none;
}
body{
    background-color: #f5f5f5;
}
.input-field{
    border: hidden;
    outline:none;
    background: none;
}

.text{
    font-size: 20px;
    font-family: Arial;
    color: #666666;
}
.button{
    border: none;
    background: none;
    cursor: pointer;
}
.checkbox{
    display: none;
}

{% endblock style%}